/* Global area */
.bg-color{
    background-color: #e22bab;
}
.navbar-padding{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 10%;
    padding-left: 10%;
}
.navbar-brand{
    font-size: 200%;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
.products-title{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: 'Mitr', sans-serif;
    color: #e22bab;
}
.product-img img {
    width: 100%;
    border-radius: 10px;
}

.product-img{
    border-radius: 10px;
}
.product-row{
    margin-top: 3%;
    margin-bottom: 3%;
}
.footer-row{
    height: 80px;
    background-color: #e22bab;
}
.footer-row a {
    text-decoration: none;
    color: white;
}
.login-row{
    border-radius: 15px;
    border-style: solid;
    border-color: #e22bab;
}
.login-row h4 {
    font-family: 'Mitr', sans-serif;
    color: white;
    text-align: center;
    margin-top: 6%;
}
.login label {
    color: white;
}
.reg h4 {
    font-family: 'Mitr', sans-serif;
    color: #e22bab;
    text-align: center;
    margin-top: 6%;
}
#qty {
    width: 40px;
    text-align: center;
}
.btn-qty {
    border-radius: 100%;
}

/* large screen size */
@media  only screen and (min-width: 992px) {
    .hero-banner{
        overflow: hidden;
        height: 650px;
    }
    .hero-banner img {
        width: 100%;
    }
    .hero-text{
        text-align: center;
        line-height: 100px;
        font-family: 'Lobster', cursive;
        font-size: 90px;
        color: #e22bab;
        text-shadow: 8px 8px 18px #0000003d;
    }
    .hero-text-div{
        margin-top: -550px;
    }
    .product-img{
        overflow: hidden;
        height: 300px;

    }
    .contact-cont{
        height: 550px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .contact-cont{
        color: white;
    }
    .login-row{
        height: 690px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }
    .login-row .login{
        background-color: #e22bab;
    }
    .reg input {
        border-color: #e22bab;
        border-style: solid;
    }
    .reg .input-group-text {
        border-color: #e22bab;
        border-style: solid;
    }
    .radius{
        border-radius: 10px;
    }
    .purchase-pdct-img{
        overflow: hidden;
        height: 450px;
    }
    
}

/* medium screen size */
@media  (max-width: 992px) and (min-width: 768px) {
    .hero-banner{
        overflow: hidden;
        height: 650px;
    }
    .hero-banner img {
        width: 100%;
    }
    .hero-text{
        text-align: center;
        line-height: 70px;
        font-family: 'Lobster', cursive;
        font-size: 65px;
        color: #e22bab;
        text-shadow: 8px 8px 18px #0000003d;
    }
    .hero-text-div{
        margin-top: -550px;
    }
    .product-img{
        overflow: hidden;
        height: 500px;
    }
    .contact-cont{
        height: 500px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .contact-cont{
        color: white;
    }
    .login-row{
        height: 670px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }
    .login-row .login{
        background-color: #e22bab;
    }
    .reg input {
        border-color: #e22bab;
        border-style: solid;
    }
    .reg .input-group-text {
        border-color: #e22bab;
        border-style: solid;
    }
    
}

/* small screen size */
@media  (max-width: 768px){
    .hero-banner{
        overflow: hidden;
        height: 100%;
    }
    .hero-banner img {
        width: 150%;
    }
    .hero-text{
        text-align: center;
        line-height: 70px;
        font-family: 'Lobster', cursive;
        font-size: 300%;
        color: #e22bab;
        text-shadow: 8px 8px 18px #0000003d;
    }
    .hero-text-div{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .bg-color-sm{
        background-color: #ffbac3;
    }
    footer h6 {
        margin-left: 20px;
    }
    .product-name p{
        text-align: center;
    }
    .product-name h3{
        text-align: center;
    }
    .contact-cont{
        height: 800px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .contact-cont{
        color: white;
    }
    .cont-txt-fld{
        margin-left: 10px;
        margin-right: 10px;
    }
    .login-row{
        height: 1050px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }
    .login-row .login{
        background-color: #e22bab;
    }
    .reg input {
        border-color: #e22bab;
        border-style: solid;
    }
    .reg .input-group-text {
        border-color: #e22bab;
        border-style: solid;
    }
    .xs-margin{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .purchase-pdct-img{
        overflow: hidden;
        height: 450px;
    }
    .xs-margin h4 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .btn-block {
        margin-top: 20px;
    }
}